<!DOCTYPE html>
<html lang="zxx">
<head>
<title>Yoga Karo</title>
<meta charset="UTF-8">
<meta name="description" content="Yoga HTML Template">
<meta name="keywords" content="Yoga, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Favicon -->
<link rel="icon" href="img/favicon.png" type="image/x-icon">
<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<!-- Stylesheets -->
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/font-awesome.min.css" />
<link rel="stylesheet" href="css/owl.carousel.min.css" />
<link rel="stylesheet" href="css/flaticon.css" />
<link rel="stylesheet" href="css/slicknav.min.css" />

<!-- Main Stylesheets -->
<link rel="stylesheet" href="css/style.css" />


<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
<script type="text/javascript">
	 function GeneratePDF(){
			var frm=document.certForm;
			var sirName =document.getElementById("sirName").value;
			var name =document.getElementById("name").value;
			var contact =document.getElementById("contact").value;
			var alt_contact =document.getElementById("alt_contact").value;
			var email =document.getElementById("email").value;
			var co_ord =document.getElementById("co_ord").value;
			var dist =document.getElementById("dist").value;
			var state =document.getElementById("state").value;
			if(isEmpty(name)){
				alert("Please Enter the Full Name");
				return false;
			}
			if(isEmpty(contact)){
				alert("Please Enter the Mobile No");
				return false;
			}
			if(isEmpty(dist)){
				alert("Please Enter the District Name");
				return false;
			}
			if(isEmpty(state)){
				alert("Please Enter the State Name");
				return false;
			}
			frm.action="/print?sirName="+sirName+"&name="+name+"&contact="+contact+"&alt_contact="+alt_contact+"&email="+email+"&co_ord="+co_ord+"&dist="+dist+"&state="+state;
			frm.method="get";
			frm.submit();
			
		 }
 function isEmpty(aTextField) {
		if(aTextField == null){
			return false;
		}
		
		var re = /\s/g; //Match any white space including space, tab, form-feed, etc.
		var str = aTextField.replace(re, "");
		if (str.length == 0) {
			return true;
		} else {
			return false;
		}
	}
</script>
</head>
<body>
<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
		<header class="header-section">
	      <div class="row">
			   <div class="col-md-2 col-sm-6 top-reponsive">
					<a class="site-logo">
						<img src="img/logo.png" alt="">
					</a>
				</div>
                <div class="col-md-6 col-sm-6 top-reponsive ">                      
                    <span style="color: green">Contact No:</span><a style="color: black"  href="tel:+919956176774"> +91- 9956176774</a>
                </div>     
                <div class="col-md-4 col-sm-6 top-reponsive text">
                    <span style="color: green">Email: </span><a style="color: black" href="mailto:Prayasinstitute.in@gmail.com">Prayasinstitute.in@gmail.com</a>
                </div>        
            </div>
	</header>
	<!-- Header section end -->
	<br><br><br>
	<div class="hero-section set-bg" data-setbg="img/hero-bg-1.png">
	<div class="container">
	<br><br>
		<hr>
		<p style="text-align: center; color:white; font-size: 17px;">
			Congratulations for successfully participating the <strong>YogaKaro's
				initiative of Yoga Exercise on International Day of Yoga (21st
				June,2020)</strong> organized by <strong> YogaKaro </strong>, in association
			with <strong>AYUSH Ministry Govt. Of INDIA</strong>
		</p>
		<hr>
		<form name="certForm" method="post" action="">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12 form-group">
							<h5>Please fill the below detail to get your participation
								certificate:</h5>
						</div>
						<br>
						<div class="col-md-1">
							<div class="form-group form-inline">
								<select required name="sirName" id="sirName"
									class="form-control" style="width: 100%;">
									<option>Mr.</option>
									<option>Mrs.</option>
									<option>Miss.</option>
									<option>Dr.</option>
								</select>
							</div>
						</div>
						<div class="col-md-5">
							<div class="form-group">
								<input type="text" name="name" id="name" class="form-control"
									placeholder="Your Full Name">
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<input type="text" name="contact" id="contact" required
									class="form-control" placeholder="Mobile No">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" name="alt_contact" id="alt_contact" required
									class="form-control" placeholder="Alternative Mobile No">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" name="email" id="email" required
									class="form-control" placeholder="E-mail ID">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" name="co_ord" id="co_ord" required
									class="form-control" placeholder="Co-ordinater Name">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" name="dist"  id="dist"  required class="form-control"
									placeholder="District">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" name="state" id="state" required
									class="form-control" placeholder="State">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">

								<label class="checkbox"> <input type="checkbox"
									id="checkbox" style="outline: 1px solid #4cbb17;" checked
									disabled> I hereby confirm that I have participated in
									YogaKaro's initiative of Yoga Exercise on International Day of
									Yoga (21st June,2020) and all the given information is true.
								</label>

							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group text-center">
								<a class="btn btn-success" onclick="GeneratePDF()">Generate
									Certificate</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
   </div>
	<footer class="footer-section">
		<div class="contaienr text-center">
			<p>
				Copyright &copy;
				<script>
					document.write(new Date().getFullYear());
				</script>
				All rights reserved | by YogaKaro <br> Website design and
				developed by-<a href="tel:8756863642">Er.Pradeep Kumar</a>
			</p>
		</div>
	</footer>



	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/circle-progress.min.js"></script>
	<script src="js/main.js"></script>

</body>
</html>
